<footer class="site-footer border-top bg-light mt-5">
  <div class="container">
    <div class="row">

      <!-- Our Branches -->
      <div class="col-md-3">
        <h5 class="mb-3">Our Branches</h5>
        <ul class="list-unstyled">
          <li>Kerala</li>
          <li>Chennai</li>
          <li>Bangalore</li>
          <li>Coimbatore</li>
          <li>Hyderabad</li>
          <li>Delhi</li>
          <li>Kolkotta</li>
        </ul>
      </div>

      <!-- Quick Links -->
      <div class="col-md-3">
        <h5 class="mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/models">Models</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="#">Featured</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div class="col-md-3">
        <h5 class="mb-3">Contact Info</h5>
        <ul class="list-unstyled">
          <li><strong>Phone:</strong> +91 98765 43210</li>
          <li><strong>Email:</strong> info@vespaelegance.com</li>
          <li><strong>Address:</strong> 123 Vespa Street,<br>Kerala, India</li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-md-3">
        <h5 class="mb-3">Follow Us</h5>
        <div class="d-flex flex-column">
          <a href="#" target="_blank" class="text-secondary mb-2 footer-hover"><span class="icon-facebook"></span> Facebook</a>
          <a href="#" target="_blank" class="text-secondary mb-2 footer-hover"><span class="icon-instagram"></span> Instagram</a>
          <a href="#" target="_blank" class="text-secondary mb-2 footer-hover"><span class="icon-linkedin"></span> LinkedIn</a>
          <a href="#" target="_blank" class="text-secondary mb-2 footer-hover"><span class="icon-twitter"></span> Twitter</a>
          <a href="#" target="_blank" class="text-secondary "><span class="icon-comments"></span> Threads</a>
        </div>
      </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; <%= new Date().getFullYear() %> Vespa Elegance. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>



<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>

</body>

</html>